/*navigation bar css*/
.navBar{
display: flex;
 font-size: 30px;
 background-color: #f8f8ff;
 border-bottom: 1px solid gainsboro;     
}
.logoName{
    font-family: 'Libre Caslon Display', serif;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;

}
.linkColor{
    
    border-radius: 10%;
}
.nav{
    font-family: 'Libre Caslon Display', serif;

    margin-right: 12px;
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    
}

/*footer css*/
.footer{
    font-family: 'Libre Caslon Display', serif;
    display: flex;
    background-color: #f8f8ff;
    justify-content: space-around;
    font-size: 30px;
    box-shadow: 10px 10px 10px #aaaaaa;
    height: 120px;
    margin-top: 12px;
}

/*main content container*/
.mainContainer{
    width: 700px;
    margin: 0 auto;
}

/*hompage css*/
.homepageGridContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
}
.profileImage{
    width:60%;
margin-left: 20%;
margin-top:20%;
border-radius: 3%;
border-width: 12px;
box-sizing: border-box;
}
.brandStatement{
    font-family: 'Libre Caslon Display', serif;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-top: 30%;
    font-size: 25px;
    margin-right: 20%;
    
}
/*project page css*/

.projectsGrid{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr ;
 
    gap: 1em;
    margin-top: 10%;
}
.featuredProject{
    grid-column: 1/ span 3;
    text-align: center;
}
.moreProjects{
    grid-column: 1/ span 3;
    text-align: center;
    margin-bottom: 10%;
    color:gray;
}
.projectHeader{
    grid-column: 1/ span 3; 
    font-family: 'Libre Caslon Display', serif;
    text-align: center;
    font-size: 40px;
}

.featuredProject{
    background-color: #f8f8ff;
    border-radius: 3%;
   
}

.featuredProject:hover{
    background-color:lightgray;
}

.projectColumns{
    font-family: 'Libre Caslon Display', serif; 
     background-color: #f8f8ff;
     border-radius: 3%;
     text-align: center;
 }
 .projectColumns:hover{
    background-color:lightgray;     
 }
/*project images*/
 .featuredImage{
    width:100%;
    border-radius: 3% 3% 0 0;
    }
.projectImages{
    width:100%;
    border-radius: 3% 3% 0 0;
    }

/*more info page css*/
.contactContainer{
    display:grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 5%;
    gap: 1em;
    margin-bottom: 10%;
    
}
.moreInfoImage{
    width:100%;
    border-radius: 3% 3% 0 0;
}
.moreInfoCard{
    font-family: 'Libre Caslon Display', serif;
    background-color: #f8f8ff;
    border-radius: 3%;
}

/* qrl page grid and css*/
.qrlgridContainer{
    display:grid;
    grid-template-columns: 2fr ;
 
    gap: 1em;
    margin-top: 10%;
}
.qrlContainer{
    place-items: center;
}
.qrlHeader{
    text-align: center;
    font-size: 30px;
}

.qrlImage{
    width:80%;
    margin-left: 10%;
    margin-right: auto;
}
