* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
}
body{
    margin:0;
    background-image: url('mountain_sunset.jpg');
    background-size:100% 120%;
    background-repeat: no-repeat;
}
/*main content container*/
.mainContainer{
    width: 50rem;
    margin: 0 auto;
   
    
}







/*navigation bar css*/
a{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.navBar{
display: flex;
 font-size: 1.875rem;
 justify-content: space-evenly;    
 color: #ffe8cc; 
 
}
.logoName{
    font-family: 'Libre Caslon Display', serif;
    margin-right:auto;
    margin-top: 1.2rem;
    margin-bottom: 3.2rem;
    margin-left: 1.3rem;

}
.linkColor{
    color: whitesmoke;
    border-radius: .1rem;
}
.nav{
    font-family: 'Libre Caslon Display', serif;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    margin-top: 1.2rem;
    margin-bottom: 3.2rem;
}
.navLink{
width:1.875rem;

}
.navLink:hover {
    content: attr(dataHover);
    width: 31px;
    box-shadow: 0 20px 30px 0px rgb(0, 0, 0 , 0.2);
    border-radius: .1rem;
  }
  .navLink:active{
    width: 1.875rem;
    box-shadow: none;
  }
  






/*hompage css*/
.homepageGridContainer{
    /* display:grid;
    margin: 0 auto;
    width:80%;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 2fr;
    height: 750px;
    margin-top: 5%;
    column-gap: 30px;
     */
     display: flex;
     flex-direction: column;
     
    }
    .brandStatementContainer{
        display:flex;
        gap:4em;
        font-size: 1.3rem;
        margin-bottom: 10%;
        
    }
    .intro{
        line-height: 1.5em;
        font-size: 1.5rem;
        margin-top:5%;
        width:100%;
    }
    .introTitle{
        font-size:2rem;
        margin-bottom: 1.5rem;
       margin-top:3%;
       text-align: center;

       
    }
    .introContainer{
        display:flex;
        flex-direction: column;
        grid-column: 1/ span 2;
        font-size: 1rem;
        font-family: 'Libre Caslon Display', serif;
        line-height: 1rem;
        margin-bottom: 5%;
        margin-left:3%;
    }


.profileImage{
width:100%;
margin-top:.2rem;
border-radius: 3%;
box-sizing: border-box;
box-shadow: 0 20px 30px 0px rgb(0, 0, 0 , 0.5);
margin-bottom: 1rem;
}
.featuredHomepageImage{
    width:100%;
    height: 50%;
    margin-top:1%;
    
    border-radius: 2%;

}
/* .featuredHomepageImage:hover{
    width:102%;
} */
.homepageFeaturedImage{
    grid-column: 3/ span 4;

}
.homepageProfileImage{
grid-column: 1/ span 2;
}
.brandStatment{
    grid-column: 3/ span 4;
}


 .homepageColumns{
    font-family: 'Libre Caslon Display', serif;
    display: flex;
    
    color: white;
 }

/*project page css*/

.projectsGrid{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr ;
 
    gap: 3rem;
    margin-top: 1rem;
    
}
.projectTitles{
    text-align: left;
    font-size: 75%;
    font-family: 'Libre Caslon Display', serif;
    margin-left: .01rem;
    
    margin-top:.75rem;
    margin-bottom: .75rem;
    text-align: center;
}
.featuredProject{
    grid-column: 1/ span 3;
    text-align: center;
    
   
    background-color: white;
    border-radius: 3%;
    margin-bottom: 3.125rem;
    box-shadow: 0 20px 30px 0px rgb(0, 0, 0 , 0.5);
}
.moreProjects{
    grid-column: 1/ span 3;
    text-align: center;
    margin-bottom: 1rem;
    color:gray;
    margin-top: 2rem;
    
}
.projectHeader{
    grid-column: 1/ span 3; 
    font-family: 'Libre Caslon Display', serif;
    text-align: center;
    font-size: 2.5rem;
    color:white;
    
    
}



/* .featuredProject:hover{
    background-color:lightgray;
} */

.projectColumns{
    font-family: 'Libre Caslon Display', serif; 
     background-color: white;
     border-radius: 3%;
     text-align: center;
     
     box-shadow: 0 20px 30px 0px rgb(0, 0, 0 , 0.3);
 }
 /* .projectColumns:hover{
    background-color:lightgray;     
 } */
 /*Project description Paragraphs*/
 .projectDescriptions{
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom:2%;
    text-align: left;
    margin-left:5%;
    line-height: 3rem;
 }
/*project images*/
 .featuredImage{
    width:100%;
    /* border-radius: 3% 3% 0 0; */
    }
.projectImages{
    width:100%;
    /* border-radius: 3% 3% 0 0; */
    }

.linkToGithub{
    text-decoration: underline;
    color:#d9480f; 
}
.projectLinks{
    color:gray;
}

/*more info page css*/
.contactContainer{
    width: 40rem;
    margin: 0 auto;
    
    
    
}


.resumeCard{
    border-radius: 5%;
     box-shadow: 0 20px 30px 0px rgb(0, 0, 0 , 0.5);
     background-color: white;
     margin-bottom: 10%;
}
.resumeLink{
    width: 1.25rem;
    
}
.moreInfoImage{
    width:80%;
    border-radius: 100%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 7%;
    
}
.moreInfoCard{
    font-family: 'Libre Caslon Display', serif;
    background-color: white;
    border-radius: 3%;
    
    margin-bottom:10%;
    
    box-shadow: 0 20px 30px 0px rgb(0, 0, 0 , 0.5);
}
.fullName{
    margin-left:10rem;
    margin-bottom:1px;
    font-size: 2rem;
}
.occupation{
margin-left: 11.5rem;
font-size: 1.5rem;
margin-bottom: 10px;
}

.linkTitles{
    margin-bottom: .3125rem;
    font-size:1.5rem;
}
.mediaLinks{
    color: black;
   
    
}
.socialMediaGrid{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 30px;
    text-align: left;
    display:flex;
    flex-direction: column;
}
.resumeButton{
    background-color: #f76707;
    color: white;    
    border-radius: 5px;
    
    
    
    cursor: pointer;
    font-family: 'Libre Caslon Display', serif;
    border-color:#f76707 ;
    margin:5%;
    width:80%;
}
.resumeButton:hover{
    background-color: #d9480f;
    color: white;
    font-size: 20px;
    
    
}






